.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 16px 80px;
  margin-top: 16px;
  transition: all 0.3s;

  &--add-background {
    backdrop-filter: blur(20px) brightness(70%);
  }

  &__navlinks {
    display: flex;
    margin: 0 auto;
    gap: 40px;
  }
}
