@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Prata&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Prata", serif;
  color: #fff;
  margin: 0;
}

p,
textarea,
input,
span,
label,
a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0;
}
